<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitpub</title>
    <style type="text/css">
        body {
          color: rgb(138, 93, 25);
          background-color: steelblue;
        }
      </style>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%=drinksCap[i].name %></h2>
    <ul>
        const drinksCap = drinks.map((name) => {
            return `${name[0].toUpperCase()}${name.slice(1)}`;
          });
        <% for(let i = 0; i < allDrinks.length; i++) { %>
                  
            <li>
                <a href="/drinks/<%=i%>"><%=allDrinks[i].name %></a>
             <% for(let i = 0; i < data.length; i+=1){ %>
            <h2><%=data[i].name %></h2>
        <img src="<%=data[i].img %>"alt="Image not found" />
        <ul>
            <li><%=data[i].type[0] %></li>
            <li><%=data[i].type[i] %></li>
        </ul>
        <h3>HP: <%=data[i].stats.hp %></h3>
        <h3>Attack: <%=data[i].stats.attack %></h3>
        <h3>Defense: <%data[i].stats.defense %></h3>
        <% } %>
    </div>
     <li>
            </li>
           <% } %>
        }
    </ul>
</body>
</html>